# API settings
apihost: 0.0.0.0                                 # host where non-debugged API runs
apiport: 80
base: http://localhost:8080                      # URL to reach the API
debug_host: localhost
debug_port: 8080
provide_endpoints:
  - "lod_api.apis.source"
  - "lod_api.apis.authority_provider"
  - "lod_api.apis.search_and_access"
  - "lod_api.apis.reconcile"

# Swagger configuration
frontend_url: /doc/api/                          # path for swagger to run from
frontend_title: "LOD API"
# frontend_template: "fancy-template.html"       # html template to render swagger into
                                                 #  must me in `lod_api/swagger/templates/`
apititle: LOD API
contact: Team LOD
contact_email: user@example.org

# Elasticsearch server settings
es_host: 127.0.0.1
es_port: 9200
excludes:
  - _sourceID
  - _ppn
  - _isil
  - identifier
  - nameSub
  - nameShort
  - url

# bibliographic data
authorities:
    gnd: http://d-nb.info/gnd/
    swb: http://swb.bsz-bw.de/DB=2.1/PPNSET?PPN=
    viaf: http://viaf.org/viaf/
    wd: http://www.wikidata.org/entity/
# field in which authority URLs can be found:
authority_path: sameAs.@id.keyword

indices:
    http://schema.org/Book:
        description: Buch
        index: slub-resources
        openrefine_preview_free_content:
          - author>0>name
          - contributor>0>name
        label_field: name
        type: schemaorg
    http://schema.org/CreativeWork:
        description: Titel
        index: slub-resources
        openrefine_preview_free_content:
          - author>0>name
          - contributor>0>name
        label_field: name
        type: schemaorg
    http://schema.org/CreativeWorkSeries:
        description: Schriftenreihe
        index: slub-resources
        openrefine_preview_free_content:
          - author>0>name
          - contributor>0>name
        label_field: name
        type: schemaorg
    http://schema.org/Event:
        description: Konferenz oder Veranstaltung
        index: events
        openrefine_preview_free_content: location>name
        label_field: name
        type: schemaorg
    http://schema.org/Organization:
        description: "K\xF6rperschaft"
        index: organizations
        openrefine_preview_free_content: location>name
        label_field: name
        type: schemaorg
    http://schema.org/Person:
        description: Individualisierte Person
        index: persons
        openrefine_preview_free_content: birthDate
        label_field: name
        type: schemaorg
    http://schema.org/Place:
        description: Geografikum
        index: geo
        openrefine_preview_free_content: adressRegion
        label_field: name
        type: schemaorg
    http://schema.org/Thing:
        description: Schlagwort
        index: topics
        openrefine_preview_free_content: additionalType>0>name
        label_field: name
        type: schemaorg
    http://schema.org/Work:
        description: Werk
        index: works
        openrefine_preview_free_content:
          - author>0>name
          - contributor>0>name
        label_field: name
        type: schemaorg
source_indices:
    kxp-de14: http://127.0.0.1:9200/swb-kxp/record/
    swb-aut: http://127.0.0.1:9200/gnd/record/

# OpenRefine settings
openrefine_preview_html_text:
   '<html><head><meta charset="utf-8" /></head>
    <body style="margin: 0px; font-family: Arial; sans-serif">
    <div style="height: 100px; width: 320px; overflow: hidden; font-size: 0.7em">
    <div style="margin-left: 5px;">
    <a href="{id}" target="_blank" style="text-decoration: none;">{title}</a>
    <span style="color: #505050;">({endpoint})</span>
    <p>{content}</p>
    <p>{typ}</p>
    </div>
    </div>
    </body>
    </html>
    '
reconcile_doc:
    defaultTypes: []
    extend:
        property_settings:
          - default: 10
            help_text: 'Maximum number of values to return per row (maximum: 1000)'
            label: Limit
            name: limit
            type: number
          - default: ''
            help_text: 'Which Entity-Type to use, allwed values: '
            label: Typ
            name: type
            type: string
        propose_properties:
            service_path: /reconcile/properties
            service_url: base
    identifierSpace: base
    name: LOD reconciliation for OpenRefine
    preview:
        height: 100
        url: base/{{id}}.preview
        width: 320
    schemaSpace: http://schema.org
    suggest:
        entity:
            flyout_service_path: /reconcile/flyout/entity?id=${id}
            service_path: /reconcile/suggest/entity
            service_url: base
        property:
            flyout_service_path: /reconcile/flyout/property?id=${id}
            service_path: /reconcile/suggest/property
            service_url: base
        type:
            flyout_service_path: /reconcile/flyout/type?id=${id}
            service_path: /reconcile/suggest/type
            service_url: base
    view:
        url: base/{{id}}
