flask-restx>=0.1.1
pyYAML>=5.1.2
wheel>=0.33.6
elasticsearch>=7.0.0,<8.0.0
rdflib==4.2.2
rdflib-jsonld>=0.4.0
urllib3>=1.23
requests>=2
PyLD>=1.0.3                 
flask>=1.0.2
flask_jsonpify>=1.5.0
Flask-Cors>=3.0.0
bjoern>=2.2.3
