yaml>=5.1.2
wheel>=0.33.6
elasticsearch==6.4
rdflib==4.2.2
rdflib-jsonld>=0.4.0
urllib3>=1.23
requests>=2
luigi>=2.7.0
gluish>=0.2.13
PyLD>=1.0.3                 
flask>=1.0.2
flask_restplus>=0.13.0
flask_jsonpify>=1.5.0
Flask-Cors>=3.0.0
bjoern>=2.2.3
