[Unit]
Description=LOD API
Documentation=https://github.com/slub/efre-lod-api
After=network.target syslog.target

[Service]
# see man systemd.service 
Type=oneshot
User=lod
Group=lod
# using a bash login shell for controlling the lod-api,
# so we get the pip environment paths into PATH, e.g. /home/$user/.local/bin/
ExecStart=/bin/bash --login -c 'lod-api -c /etc/lod-apiconfig.yml start'
RemainAfterExit=true
ExecStop=/bin/bash --login -c 'lod-api -c /etc/lod-apiconfig.yml stop'
StandardOutput=journal

[Install]
WantedBy=multi-user.target 
